<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Activity</ion-title>
      <ion-buttons slot="start">
          <ion-button href="/home">
            <ion-icon slot="icon-only" name="arrow-back-sharp"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start" size="large" color="dark"></ion-icon>
        <ion-card-subtitle>Name: {{user?.userName}}</ion-card-subtitle>
      </ion-item>
      <ion-item>
        <ion-card-subtitle>Last Login: {{user?.userActivity}}</ion-card-subtitle>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
