<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start" size="large"></ion-icon>
        <ion-card-subtitle>Name: {{user?.userName}}</ion-card-subtitle>
      </ion-item>

      <ion-item>
        <ion-icon name="document-text-outline" slot="start" size="large"></ion-icon>
        <ion-card-subtitle>Year/Section: {{user?.userSection}}</ion-card-subtitle>
      </ion-item>

      <ion-item>
        <ion-icon name="call-outline" slot="start" size="large"></ion-icon>
        <ion-card-subtitle>Contact No.: 0{{user?.userNum}}</ion-card-subtitle>
      </ion-item>

      <ion-item>
        <ion-icon name="mail-outline" slot="start" size="large"></ion-icon>
        <ion-card-subtitle>Email: {{user?.userEmail}}</ion-card-subtitle>
      </ion-item>

      <!-- <ion-item>
        <ion-icon name="mail-outline" slot="start" size="large"></ion-icon>
        <ion-card-subtitle>Last Sign in:  {{user?.}}</ion-card-subtitle>
      </ion-item> -->

    </ion-card-content>
  </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button href="home">
        <ion-icon name="home-outline" color="light"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button href="qrcode">
        <ion-icon name="qr-code-outline" color="light"></ion-icon>
        <ion-label>Qr Code</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="logout()">
        <ion-icon name="exit-outline" color="light"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
